extends layout

block content
  main
    aside
      form.form(method='POST' action='/addBook')
        div
          label.formtype(for='title') Book_Title:
          input#bookTitle(type='text', placeholder='Title' name='title')
        div
          label.formtype(for='description') Description:
          input#description(type='text', placeholder='description' name='description')
        div
          label.formtype(for='image_url') Image_Url:
          input#imageUrl(type='text', placeholder='Image Url' name='image_url')
        div
          label.formtype(for='Select a Name')
            select( name='author_id' )
              for author in authors
                option(value=author.id)=author.name

        button(type='submit') Submit
