html
  head
    title
    link(href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://code.jquery.com/jquery-3.1.0.js" integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk=" crossorigin="anonymous")
    script(src="../javascripts/navBar.js")
  body
    nav
      a.top-bar(href='/') Home
      a.top-bar(href='/addBook') Add Book
      a.top-bar(href='/addAuthor') Add Author
      a.top-bar(href='/') Update Book
      main.page-column

        #carousel-example-generic.carousel.slide(data-ride='carousel')
        // Indicators
        ol.carousel-indicators
          li.active(data-target='#carousel-example-generic', data-slide-to='0')
          li(data-target='#carousel-example-generic', data-slide-to='1')
          li(data-target='#carousel-example-generic', data-slide-to='2')
        // Wrapper for slides
        .carousel-inner(role='listbox')
          .item.active
            img(src='...', alt='...')
            .carousel-caption
              | ...
          .item
            img(src='...', alt='...')
            .carousel-caption
              | ...
          |     ...
        // Controls
        a.left.carousel-control(href='#carousel-example-generic', role='button', data-slide='prev')
          span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
          span.sr-only Previous
        a.right.carousel-control(href='#carousel-example-generic', role='button', data-slide='next')
          span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
          span.sr-only Next


block content
