html {
background: url(http://www.planwallpaper.com/static/images/518079-background-hd.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
color: white;
}

.sidebar {


  /*margin: 30px;
  position: relative;
  top: -10px;
  text-decoration: none;*/

}

.form {
  padding: 30px;
}

.top-bar {
  padding-right: 10px;
  text-decoration: none;
}

.search-type {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.formtype {
  padding-right: 20px;
}

button {
  border-radius: 10px;
  margin: 20px;
}

.page-column {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  background-color: #FFFFFF;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #eee;
}
